{{#if user}}

<form id="postform" action="/xhr/post" method="post" name="contact" onsubmit="return send(this)">
  {{#if channel}}
  <input type="hidden" name="channel" value="{{channel}}">
  {{else}}
  <input type="text" placeholder="channel (default: {{config.defaultChannel}})" name="channel" value="{{channel}}">
  {{/if}}
  <input type="text" placeholder="title (required)" name="title">
  <input type="text" placeholder="url" name="url">
  <textarea placeholder="text" name="body"></textarea>
  <button type="submit">Post</button> <span class="response"></span>
</form>

{{/if}}

{{#unless user}}
<p class="invitation"><a href="/register" class="u">Register</a> or <a href="/login" class="u">login</a> to post topics</p>
{{/unless}}
