<main class="textwall">
  <p>
    <strong>Brook</strong> is a linkboard heavily inspired by HN. It runs on Node.JS and MongoDB.
  </p>
  <p>
    Written with both code brevity and page speed in mind, so beware the basic scripting in the frontend.
  </p>
  <p>
    The ranking algorithm is based on Ken Shirrif's <a href="http://www.righto.com/2013/11/how-hacker-news-ranking-really-works.html">findings</a> <a href="http://www.righto.com/2009/06/how-does-newsyc-ranking-work.html">(and here)</a> on his research about HN ranking.
  </p>
  <h4>Roadmap</h4>
  <p>
    The app does not cover the following yet, but I plan to add them in soon. 
  </p>
  <p>
    <u>Filters</u>, like "New", "Show", or "Ask". Based on user input or moderation.
  </p>
  <p>
    <u>Channels</u>, much like subreddits, except more streamlined, it should be able to house its own set of filters.
  </p>
  <p>
    <u>Moderation UI</u>, may it be terminal based or web. Currently moderation is done directly to the persistence layer.
  </p>
</main>
