<main class="textwall">
  <p><strong>Brook</strong> is a linkboard heavily inspired by HN. It runs on Node.JS and MongoDB.</p>
  <p>Written with both frontend brevity and delivery speed in mind, so beware the basic scripting and vanilla CSS. <em>(gasp!)</em></p>
  <p>The ranking algorithm is based on Ken Shirrif's findings (<a href="http://www.righto.com/2013/11/how-hacker-news-ranking-really-works.html">here</a> and <a href="http://www.righto.com/2009/06/how-does-newsyc-ranking-work.html">here</a>) on his research about YCombinator's Hacker News ranking.</p>
  <p>
    You can find the source and license at <a href="https://github.com/hmngwy/brook">github.com/hmngwy/brook</a>
  </p>
</main>
