<form id="register_form" action="/register" method="post">
  <h4>REGISTER</h4>
  <input type="text" placeholder="handle" name="username">
  <input type="password" placeholder="password" name="password">
  <button  type="submit">Register</button>
</form>
