<h4>Register</h4>
{{#if taken}}<p class="banner mild">That username is taken, please try another.</p>{{/if}}
<form id="register_form" action="/register" method="post">
  <input type="text" placeholder="handle" name="username">
  <input type="password" placeholder="password" name="password">
  <button  type="submit">Register</button>
</form>
<p>
  We ask no more than a username and password. Eventually you should optionally be able to set an email address for lost password recovery.
</p>
