<main class="textwall">
  <h4>Guidelines</h4>
  <ol>
    <li>Stay on-topic</li>
    <li>Be civil, if you won't say it in person, don't say it here</li>
    <li>None of that Upworthy-style headlines</li>
    <li>No clickbaiting, linkjacking, trolling, starting and or stoking flamewars</li>
    <li>Do not ask for upvotes, let the quality of your post speak for itself</li>
    <li>Do not verbally bait for votes</li>
    <li>Do not complain about receiving no votes</li>
    <li>Do not sign posts or comments</li>
    <li>Do not YELL LIKE THIS</li>
    <li>If you are angry, and it's less than a handful of words, please keep it to yourself</li>
    <li>Do not engage in voting rings ("Let's all vote X")</li>
  </ol>
  <h4>Ban worthy</h4>
  <ul>
    <li>Excessive violation of the guidelines, excessive = 2</li>
    <li>Flooding any page</li>
    <li>Vote fraud</li>
  </ul>
</main>
