::-moz-selection { background: beige; }
::selection { background: beige; }
body {
  margin: 0;
  padding: 0;
  font: normal normal normal 14px/1.4em 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
  color: #111;
  background-color: whitesmoke;
}
nav ul {
  margin: 0;
  padding: 1em 0;
  list-style: none;
  position: relative;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
}
nav ul li:last-of-type {
  margin-right: 0;
}
  .brand {
    display: block;
    text-transform: initial;
    margin-bottom: 1ch;
  }
  .brand a {
    font-weight: bold;
    text-shadow: 0 2px rgba(255,255,255,0.4);
  }
  .handle:before {
    text-shadow: 0 2px rgba(255,255,255,0.4);
  }
nav.page {
  text-align: center;
}
nav.page a {
  background-color: white;
  border-radius: 2px;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding: .5ch 1ch;
  text-shadow: none;
  background-image: none;
}
nav.main {
  font-weight: 300;
  color: whitesmoke;
}
.wrap {
  padding: 0 1em;
  max-width: 72ch;
  margin: auto;
}
.fullwidth {
  max-width: 100%;
}
.fullwidth > * {
  padding: 0 1em;
}
.fullwidth > * {
  max-width: 72ch;
  margin: auto;
  box-sizing: border-box;
}
.navmain-wrapper {
  background-color: #2a2a2a;
}
.invitation {
  text-align: center;
  border-radius: 2px;
  border: 1px solid lightgrey;
  color: grey;
  padding: .5ch 0;
}
.user_list {
  padding: .7em 2em;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-radius: 4px;
  line-height: 1.6em;
  font-size: .8em;
  max-height: 10em;
  overflow: scroll;
}
.banner {
  text-align: center;
  background-color: lightgreen;
  color: darkgreen;
  border-radius: 2px;
  padding: 1ch;
}
.banner.bad {
  background-color: #D29A9A;
  color: maroon;
}
.banner.mild {
  background-color: lightgrey;
  color: steelblue;
}
main {
  margin: 2em 0;
}
#topic_list {
  padding: 0;
  list-style: none;
}
#topic_list > li,
.topic {
  margin-bottom: 1.4em;
  position: relative; /*so .act_upvote lines up per li*/
  margin-left: 3em;
}
.nothing {
  text-align: center;
  padding: 2em 0;
}
.filters {
  font-weight: bold;
}
.filters li:first-of-type a {
  font-weight: normal;
  text-shadow: none;
  background-image: none;
}
.filters li:first-of-type a:before {
  content: '⌂ ';
  font-size: 1.4em;
}
.topic {
  margin-left: 0;
}
.link {
  display: inline-block;
  text-shadow: none;
  font-weight: bold;
}
.domain {
  font-size: .8em;
  opacity: .7;
  font-weight: normal;
}
.link[target="_blank"]:visited:before {
  color: grey;
}
.link[target="_blank"]:before {
  content: '⃑';
  line-height: 0;
  color: indianred;
  font-size: 1.8em;
  position: absolute;
  top: .275em;
  left: 0;
}
.link:visited {
  color: grey;
}
a {
  color: inherit;
  text-decoration: none;
}
.body a,
.meta a,
.response a,
.textwall a,
.user_list a,
.filters a,
.u,
.next {
  text-decoration: none;
  background-image: -webkit-linear-gradient(rgba(70, 70, 70, 0.25) 0%, rgb(70, 70, 70) 100%);
  background-image: linear-gradient(rgba(70, 70, 70, 0.25) 0%, rgb(70, 70, 70) 100%);
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 93%;
  text-shadow: 3px 0 whitesmoke, 2px 0 whitesmoke, 1px 0 whitesmoke, -1px 0 whitesmoke, -2px 0 whitesmoke, -3px 0 whitesmoke;
}
@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
  .u,
  .body a,
  .meta a,
  .response a,
  .textwall a,
  .user_list a,
  .filters a,
  .next {
    background-image: -webkit-linear-gradient(rgba(70, 70, 70, 0.25) 0%, rgb(70, 70, 70) 100%);
    background-image: linear-gradient(rgba(70, 70, 70, 0.25) 0%, rgb(70, 70, 70) 100%);
    background-position: 0 93%;
  }
  .link[target="_blank"]:before {
    margin-left:.9ch;
    font-size: 2em;
  }
}
.body a.act_reply, .body .byline {
  text-shadow: none;
  background-image: none;
}
.action {
  position: absolute;
  right: calc(100% + 1em);
  top: 0;
}
.votes {
  display: block;
  text-align: center;
  font-size: .75em;
}
.karma {
  font-size: .8em;
  font-weight: bold;
  color: grey;
}
.karma:before {content: '[';}
.karma:after {content: ']';}
.act_upvote {
  display: inline-block;
  line-height: 18px;
  font-weight: bold;
  padding: .5em;
  background-color: white;
  border-radius: 5px;
  border-bottom: 2px solid #CCC;
  margin-top: .15em;
  transition: background-color 250ms, color 250ms;
}
.act_upvote:before {
  content: '▲';
  color: lightgrey;
}
.act_upvote:hover {
  background-color: indianred;
  color: #555;
}
.act_upvote[voted]:before {
  content: '▲';
  color: #555;
}
.act_upvote[voted]:hover {
  background-color: white;
  cursor: default;
}
.comments .action,
.topic .action {
  position: initial;
  float: left;
  margin-right: .75em;
}
.comments .action {
  margin-right: .5em;
}
.comments .invitation {
  display: none;
}
.topic .link {
  position: relative;
  display: inline;
}
.meta {
  color: #555;
  font-size: .88888em;
}
form {
  margin-bottom: 2em;
  position: relative;
}
input:focus,
button:focus,
textarea:focus {
  outline-width: 0;
}
input, textarea {
  width: 100%;
  max-width: 100%;
  font: inherit;
  padding: 1ch;
  border: 0;
  border-bottom: 1px solid #DDD;
  display: block;
  margin-bottom: .4ch;
  box-sizing: border-box;
  border-radius: 2px;
  transition: height 400ms, background 400ms;
}
textarea {
  height: 2.6em;
  cursor: pointer;
}
textarea:focus {
  height: 8em;
  cursor: text;
}
button {
  font: inherit;
  border: 0;
  background: white;
  padding: 0;
  border-bottom: 1px solid #DDD;
  padding: .5ch 1ch;
  border-radius: 2px;
}
button:hover {
  background: beige;
  cursor: pointer;
}
form[status="ok"] button {
  background-color: lightgreen;
}
form[status="loading"] button {
  background-color: lightgrey;
}
form[status="bad"] button {
  background-color: lightcoral;
}
.response {
  margin-left: 2ch;
}
.response a:after {
  content: ' →';
}
.topic .body {
  margin-top: 1ch;
}
.comments {
  padding-top: 1ch;
  border-top: solid 1px #ccc;
  margin: auto;
  font-size: .8888888em;
}
.comments ul {
  padding-left: 0;
  list-style: none;
  border-left: 1px solid #999;
}
.comments ul ul ul {
  border-left: 1px solid #BBB;
}
.comments ul ul ul ul {
  border-left: 1px solid #CCC;
}
.comments ul ul ul ul ul {
  border-left: 1px solid #eee;
  margin-bottom: 3ch; /*to match missing form*/
}
.comments ul ul ul ul ul li {
  margin-bottom: 3ch; /*to match missing form*/
}
.comments ul ul ul ul ul .reply_form,
.comments ul ul ul ul ul ul {
  display: none;
}
.comments > ul {
  border: 0;
}
.comments li {
  box-sizing: border-box;
  position: relative;
}
.comments li:target .timestamp,
.comments li:target .byline {
  color: green;
}
.comments li li {
  position: relative;
  padding-left: 1.8em;
}
.comments .body {
  padding-left: 2ch;
  min-height: 2.3em;
  padding-top: .5ch;
  margin-bottom: .5ch;
}
.comments .byline,
.comments .timestamp {
  font-weight: bold;
}
.comments .timestamp {
  color: #777;
}
.comments .act_upvote {
    padding: .5em .2em;
}
.comments form {
  margin-bottom: 0;
}
.comments .reply_form textarea {
  width: calc(100% - 4.3em);
  max-width: calc(100% - 4.3em);
  height: 2.03em;
  padding: .4ch 1ch;
  background: rgba(255, 255, 255, 0.55);
  border-bottom: none;
  resize: none;
  margin-bottom: 0;
  margin-left: 1.9em;
}
.comments .reply_form textarea:focus {
  height: 8em;
  background: white;
  /*resize: vertical;*/
}
.comments .reply_form textarea:focus + button {
  opacity: 1;
}
.comments form.reply_form button {
  opacity: .5;
  transition: opacity 400ms;
  position: absolute;
  top: 0;
  right: 0;
  height: 2.05em;
  line-height: 0;
}
form.reply_form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.58em;
}
.reply_form textarea {
    width: calc(100% - 5em);
}
.reply_form button:after,
.act_reply:after {
  content: ' ↦';
  font-size: 1.3em;
  line-height: 0;
}
.comments .reply_form button:after {
  font-size: 1.3em;
  position: relative;
  top: -2px;
}
.act_reply {
  background-color: white;
  padding: .2em .3em .2em .3em;
  border-radius: 2px;
  border-bottom: 1px solid #CCC;
}
footer {
  border-top: 1px solid #ccc;
  margin: 1em 0 .5em 0;
  padding-top: 1em;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
.post-toggle {
  cursor: pointer;
}
/*triggers */
#postform {
  display: none;
}
[post="on"] #postform {
  display: block;
}
@media only screen and (min-width : 667px) {
  body {
    font-size: 18px;
  }
  .comments {
    max-width: 90%;
  }
  nav.main ul {
    text-align: right;
  }
    .brand {
      margin-bottom: 0;
      position: absolute;
      left: 0px;
      top: 1em;
      display: inline-block;
    }
  .wrap > * {
    padding: 0 1em;
  }
  .post-toggle {
    position: absolute;
    right: 0;
    top: 1em;
  }
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/sTdaA6j0Psb920Vjv-mrzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/uYECMKoHcO9x1wdmbyHIm3-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/tnj4SB6DNbdaQnsM8CFqBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/_VYFx-s824kXq_Ul2BHqYH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NJ4vxlgWwWbEsv18dAhqnn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Ks_cVxiCiwUWVsFWFA3Bjn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/77FXFjRbGzN4aCrSFhlh3oX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/isZ-wbCXNKAbnjo6_TwHToX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/UX6i4JxQDm3fVTc1CPuwqoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/jSN2CGVDbcVyCnfJfjSdfIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/PwZc-YbIL414wB9rB1IAPYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/97uahxiqZRoncBaCEI3aW4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOJBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/WxrXJa0C3KdtC7lMafG4dRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/OpXUqTo0UgQQhGj_SFdLWBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/1hZf02POANh32k2VkgEoUBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/cDKhRaXnQTOVbaoxwdOr9xkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/K23cxWVTrIFD6DJsEVi07RkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vSzulfKSK0LLjjfeaxcREhkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC_ZraR2Tg8w2lzm7kLNL0-w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC14sYYdJg5dU2qzJEVSuta0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC1BW26QxpSj-_ZKm_xT4hWw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcCwt_Rm691LTebKfY2ZkKSmI.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC9DiNsR5a-9Oe_Ivpu8XWlY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC6E8kM4xWR1_1bYURRojRGc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
